@import './normalize';
@import './variables';
@import './mixins';

@font-face {
  font-family: 'ProximaNova';
  src: url('../font/ProximaNovaSoft-Bold.eot');
  src: url('../font/ProximaNovaSoft-Bold.eot?#iefix') format('embedded-opentype'),
      url('../font/ProximaNovaSoft-Bold.woff') format('woff'),
      url('../font/ProximaNovaSoft-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ProximaNova';
  src: url('../font/ProximaNova-Light.eot');
  src: url('../font/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
      url('../font/ProximaNova-Light.woff') format('woff'),
      url('../font/ProximaNova-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ProximaNova';
  src: url('../font/ProximaNovaSoftW03-Regular.eot');
  src: url('../font/ProximaNovaSoftW03-Regular.eot?#iefix') format('embedded-opentype'),
      url('../font/ProximaNovaSoftW03-Regular.woff') format('woff'),
      url('../font/ProximaNovaSoftW03-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@mixin beforeImg($width, $height, $top, $bottom, $left, $right) {
  content: "";
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: auto;
  position: absolute;
  width: $width;
  height: $height;
  top: $top;
  bottom: $bottom;
  left: $left;
  right: $right;
}

.container-max{
  width: 100%;
  max-width: 1312px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.container-min{
  width: 100%;
  max-width: 1088px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.body.opened{
  overflow-y: hidden;
}

.secondary-button{
  position: relative;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color:#FD9147;
  padding-right: 25px;
  &::before{
    @include beforeImg(12px, 10px, 0, 0, auto, 0);
    background-image: url('../images/icons/Vector\ \(1\).svg');
  }
}

.logotip{
  display: flex;
  align-items: center;
  &__logo{
   margin-right: 24px;
  }
  &__title{
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 110.84%;
    color: #5D748A;
    width: 130px;
  }
}

.overly{
  background: #5D748A;
  opacity: 0.7;
  width: 100%;
  height: 0;
  position: fixed;
  top: 0;
  z-index: 5;
  transition: all ease 0.5s;
  &.visible{
    height: 100%;
  }
}

.modal-window{
  background: #FFFFFF;
  border-radius: 24px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
  z-index: 6;
  width: 500px;
  height: 0;
  transition: all ease 0.5s;

  &.open{
    box-sizing: border-box;
    padding: 65px 45px;
    border: 2px solid #FD9147;
    width: 504px;
    height: 500px;
    top: 100px;
    bottom: auto;
  }

  .modal{
    display: none;
    &.modal-open{
      display: block;
    }
    
    h3{
      font-style: normal;
      font-weight: bold;
      font-size: 32px;
      line-height: 38px;
      color: #5D748A;
      margin-bottom: 60px;
    }
    form{
      position: relative;
  
      label{
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        line-height: 20px;
        color: #5D748A;
        margin-bottom: 8px;
        display: block;
        position: absolute;
      }
      .label1{
        top: -28px;
        left: 0;
        &::before{
          @include beforeImg(20px, 20px, auto, -44px, 20px, auto);
          background-image: url('../images/icons/Frame\.svg');
        }
      }
      .label2{
        top: 80px;
        left: 0;
        &::before{
          @include beforeImg(20px, 20px, auto, -43px, 20px, auto);
          background-image: url('../images/icons/Frame\ \(1\).svg');
        }
      }
      input{
        font-family: 'ProximaNova';
        font-style: normal;
        font-weight: 500;
        font-size: 17px;
        line-height: 20px;
        color: #5D748A;
        outline: none;
        padding: 15px 52px;
        box-sizing: border-box;
        border-radius: 32px;
        border: 2px solid #DFE3E8;
        margin-bottom: 52px;
        display: block;
        width: 100%;
       
        &:hover{
          border: 2px solid #FD9147;
        }
        &:hover + label{
          color: #FD9147;
        }
      }
  
      ::placeholder{
        opacity: 0.5;
      }
  
      button{
        margin-top: 42px;
        display: block;
        background: linear-gradient(166.82deg, #FEA244 -0.4%, #FD9147 61.84%);
        box-shadow: 0px 4px 22px rgba(253, 145, 71, 0.4);
        border-radius: 50px;
        font-style: normal;
        font-weight: 500;
        font-size: 17px;
        line-height: 20px;
        color: #FFFFFF;
        border: none;
        padding: 15px;
        width: 100%;
      }
    }
  }
}



header{
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.04);
  backdrop-filter: blur(4px);
  position: fixed;
  z-index: 1;
  width: 100%;

  .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
   

    ul{
      list-style-type: none;
      display: flex;
      justify-content: flex-end;
      position: relative;
      padding-left: 0;
      width: 57%;
      text-align: end;
      &::before{
        @include beforeImg(24px, 24px, 0, 0, 30px, auto);
        background-image: url('../images/icons/icons8-home\ 1.svg'); 
      }
      a{
        display: inline-block;
        padding: 16px;
        font-style: normal;
        font-weight: 500;
        font-size: 17px;
        line-height: 20px;
        color: #5D748A;
      }
    }
    .header-right{
      display: flex;
      align-items: center;
      justify-content: space-between;

      .burger-button{
        display: none;
      }

      .dropdown{
        display: block;
        position: relative;
        padding: 10px;
        margin-right: 24px;
  
        &::before{
          @include beforeImg(20px, 20px, 0, 0, -15px, auto);
          background-image: url('../images/icons/icons8-language\ 1.svg');
        }
        a{
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 17px;
          color: #5D748A;
        }
        .links{
          display: none;
          position: absolute;
          background-color: #1a1919;
          padding: 5px;
          top: 35px;
          a{
            display: block;
            color: white;
            &:hover{
              color: rgb(250, 250, 89);
            }
          }
        }
        &:hover .links{
          display: block;
        }
      }
      .primary-button{
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        line-height: 20px;
        color: #5D748A;
        padding: 8px 16px 8px 45px;
        background: #FFFFFF;
        border-radius: 24px;
        border: 2px solid #F99D04;
        position: relative;
        display: inline-block;
        &:before{
          @include beforeImg(20px, 20px, 0, 0, 16px, auto);
          background-image: url('../images/icons/Vector.svg');
        }
      }
    }
  }
}

aside{
  background-image: url('../images/Image\ \(2\).png'), url('../images/Image\ \(1\).png'), url('../images/icons/Ellipse\ 2.svg'), url('../images/Group.png'), url('../images/icons/Ellipse\ 1.svg'), url('../images/Image.png'), url('../images/Vector\ 1.svg'), url('../images/Vector\ 2.svg'), url('../images/Vector\ 4.svg');
  background-repeat: no-repeat;
  background-position: right 2% bottom, right top 36%, right top, bottom 4% left 20%, left bottom, left top 20%, top right, top left, top right;
  background-size: auto, auto, auto, auto, auto, auto, auto, cover, contain;
  position: relative;
  padding-top: 374px;
  padding-bottom: 164px;

  .wrapper{

    .wrapper-left{
      &__title{
        font-style: normal;
        font-weight: bold;
        font-size: 42px;
        line-height: 125.34%;
        color: #5D748A;
        width: 533px;
        margin-bottom: 64px;
      }
      a{
        font-style: normal;
        font-weight: 500;
        font-size: 17px;
        line-height: 20px;
        margin-bottom: 277px;
      }
      &__link1{
        color: #FFFFFF;
        padding: 13px 24px;
        background: linear-gradient(166.82deg, #FEA244 -0.4%, #FD9147 61.84%);
        box-shadow: 0px 4px 22px rgba(253, 145, 71, 0.4);
        border-radius: 50px;
        display: inline-block;
        margin-right: 16px;
      }

      &__link2{
        color: #4A4952;
        background: #FFFFFF;
        border-radius: 50px;
        padding: 12px 47px;
        border: 2px solid #F99D04;
        display: inline-block;
        box-sizing: border-box;
      }
    }
    .sport-lugati{
      position: absolute;
      top: 15%;
      right: 4%;
    }
  }

  .spans{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    span{
      width: 12px;
      height: 12px;
      border-radius: 6px;
      background: linear-gradient(166.82deg, #FEA244 -0.4%, #FD9147 61.84%);
      display: block;
    }
    .span1{
      opacity: 0.4;
    }
    .span2{
      opacity: 0.7;
      margin: 0 8px;
    }
    .span3{
      width: 140px;
      height: 12px;
    }
  }
}

section{
  background-image: url('../images/Image1.png'), url('../images/icons/Ellipse\ 3.svg');
  background-repeat: no-repeat;
  background-position: bottom left 5%, right top 30%;
  padding-bottom: 120px;

  .section{

    .section-top{
      background: #5D748A;
      border-radius: 16px;
      position: relative;
      height: 254px;
      margin-bottom: 64px;

      .text{
        padding-top: 40px;
        h3{
          font-style: normal;
          font-weight: bold;
          font-size: 32px;
          line-height: 162.5%;
          letter-spacing: 0.12px;
          color: #FFFFFF;
          margin-bottom: 8px;
        }
        p{
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 162.5%;
          letter-spacing: 0.12px;
          color: #FFFFFF;
          margin-bottom: 36px;
        }
        a{
          font-style: normal;
          font-weight: normal;
          font-size: 17px;
          line-height: 20px;
          color: #FFFFFF;
          padding: 13px 24px;
          background: linear-gradient(166.82deg, #FEA244 -0.4%, #FD9147 61.84%);
          box-shadow: 0px 4px 22px rgba(253, 145, 71, 0.4);
          border-radius: 50px;
          display: inline-block;
        }
      }
      img{
        position: absolute;
        top: 0;
        right: 0;
      }
    }

    .video{
      position: relative;
      margin-right: 32px;
      font-style: normal;
      font-weight: 500;
      font-size: 15px;
      line-height: 18px;
      color: #FFFFFF;
      
      .overly{
        position: absolute;
        background: linear-gradient(0deg, #383C45 0%, rgba(56, 60, 69, 0.3) 100%);
        border-radius: 16px;
        width: 304px;
        height: 216px;
        z-index: 1;
      }
      .overly1{
        position: absolute;
        background: linear-gradient(0deg, #383C45 0%, rgba(56, 60, 69, 0.3) 100%);
        border-radius: 16px;
        width: 640px;
        height: 464px;
        z-index: 1;
      }
      &__img{
        background: linear-gradient(0deg, #383C45 0%, rgba(56, 60, 69, 0.3) 100%);
        border-radius: 16px;
      }
      &__data{
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 2;
      }
      &__name{
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 2;
      }
      &__title{
        position: absolute;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.12px;
        left: 20px;
        bottom: 20px;
        z-index: 2;
      }
      &__play{
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        z-index: 2;
      }
    }

    .section-center{
      display: flex;
      align-items: center;
      margin-bottom: 32px;

      
      .inner{

        &__title{
          font-style: normal;
          font-weight: bold;
          font-size: 32px;
          line-height: 125.34%;
          color: #558EF7;
          margin-bottom: 16px;
        }
        &__text{
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 125.34%;
          color: #5D748A;
          margin-bottom: 26px;
        }
      }
    }

    .section-bottom{
      display: flex;
      align-items: start;
      justify-content: space-between;

      .video1{
        margin-right: 0;
      }

      .video2{
        margin-right: 0;
        &__data{
          font-size: 25px;
          line-height: 30px;
        }
        &__name{
          font-size: 25px;
          line-height: 30px;
        }
        &__title{
          font-size: 28px;
          line-height: 34px;
        }
      }

      .video3{
        margin-right: 0;
      }
    }
  }
}

.games{
  text-align: center;
  background-image: url('../images/Image4.png'), url('../images/Image3.png'), url('../images/Image2.png'), url('../images/icons/Ellipse\ 4.svg');
  background-position: right 20% top 60%, left 20% top 60%, right top, left top 20%;
  background-repeat: no-repeat;
  padding-top: 140px;

  .title{
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 125.34%;
    color: #558EF7;
    margin-bottom: 16px;
  }
  .text{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 125.34%;
    color: #5D748A;
    display: block;
    width: 416px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;
  }

  .wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px; 
    margin-top: 32px;


    .inner{
      border-radius: 40px;
      &__title{
        position: absolute;
        font-style: normal;
        font-weight: bold;
        font-size: 28px;
        line-height: 125.34%;
        text-align: start;
        color: #FFFFFF;
        width: 99px;
        top: 65px;
        left: 40px;
      }
    }
    .inner1{
      position: relative;
    }
   
    .inner2{
      background: linear-gradient(216.58deg, #B469F7 0%, #8F26EE 100%);
      width: 416px;
      height: 260px;
    }
    .inner3{
      position: relative;
      background: linear-gradient(251.53deg, #60D77A 0%, #05A227 100.8%);
      width: 304px;
      height: 200px;
      &__title{
        left: 30px;
      }
    }
  }

  .spans{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 204px;
    span{
      background: linear-gradient(166.82deg, #FEA244 -0.4%, #FD9147 61.84%);
      border-radius: 6px;
      display: block;
    }
    .span1{
      width: 12px;
      height: 12px;
      opacity: 0.7;
    }
    .span2{
      width: 116px;
      height: 12px;
      margin: 0 8px;
    }
  }
  .carousel{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 46px;
    overflow: hidden;

    .maslahat{
      background: #FFFFFF;
      box-shadow: 0px 10px 20px rgba(106, 123, 145, 0.05);
      border-radius: 16px;
      min-width: 416px;
      height: 175px;
      padding: 24px;
      box-sizing: border-box;
      text-align: left;
      margin-right: 32px;

      h4{
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.24px;
        color: #5D748A;
        margin-bottom: 20px;
      }
      p{
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 130.3%;
        color: #5D748A;
        opacity: 0.5;
      }
    }
  }

  .button{
    display: flex;
    align-items: center;
    justify-content: center;
    .spans{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 0;
      margin-right: 90px;
      span{
        display: block;
        background: linear-gradient(166.82deg, #FEA244 -0.4%, #FD9147 61.84%);
        border-radius: 6px;
        width: 12px;
        height: 12px;
      }
      .span1{
        opacity: 0.7;
      }
      .span2{
        width: 116px;
        margin: 0 8px;
      }
      .span3{
        opacity: 0.4;
        margin-left: 8px;
      }
    }
    .links{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 200px;
      a{
        background-color: #fff;
        display: inline-block;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 10px 20px rgba(106, 123, 145, 0.05);
        border-radius: 41px;
        padding: 12px 16px;
        box-sizing: border-box;
        width: 40px;
        transition: all ease 0.5s;
        &:hover{
          width: 80px;
        }
      }
      img{
        width: 8px;
        height: 16px;
      }
      span{
        width: 0;
        height: 2.5px;
        transition: all ease 0.5s;
      }
      .link1{
        margin-right: 12px;
        
        &:hover span{
          width: 43px;
          background: linear-gradient(166.82deg, #FEA244 -0.4%, #FD9147 61.84%);
        }
      }
      .link2{
        
        &:hover span{
          width: 43px;
          background: linear-gradient(166.82deg, #FEA244 -0.4%, #FD9147 61.84%);
        }
      }
    }
  }
}

.sports{
  background-image: url('../images/Image5.png'), url('../images/icons/Group\ \(1\).svg');
  background-repeat: no-repeat;
  background-position: top left, right;
  padding-top: 88px;
  margin-bottom: 140px;
  .wrapper{
    display: flex;
    align-items: center;
    justify-content: flex-end;
  
    .wrapper-right{
      width: 528px;
      margin-left: 112px;
      &__top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 48px;
        h3{
          font-style: normal;
          font-weight: bold;
          font-size: 32px;
          line-height: 125.34%;
          color: #558EF7;
          width: 238px;
        }
        a{
          font-style: normal;
          font-weight: 500;
          font-size: 17px;
          line-height: 20px;
          color: #4A4952;
          padding: 15px 14px;
          box-sizing: border-box;
          width: 183px;
          background: #FFFFFF;
          border-radius: 50px;
          border: 2px solid #FEA244;
          position: relative;
          &::before{
            @include beforeImg(24px, 24px, 0, 0, auto, 14px);
            background-image: url('../images/icons/Vector\ \(5\).svg');
            background-size: auto;
            box-shadow: 0px 5px 10px rgba(106, 123, 145, 0.24);
            border-radius: 16px;
          }
        }
      }
      &__center{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 28px;

        .inner{
          display: flex;
          align-items: center;
          width: 192px;
          margin-bottom: 20px;
          margin-right: 32px;
          &__img{
            margin-right: 20px;
            min-width: 60px;
            height: 60px;
            background: #FFFFFF;
            box-shadow: 0px 10px 20px rgba(106, 123, 145, 0.05);
            border-radius: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          &__img4{
            background: #558EF7;
          }
          p{
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 125.34%;
            color: #5D748A;
            &:hover{
              color: #558EF7;
            }
          }
        }
      }
      &__bottom{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #FFFFFF;
        box-shadow: 0px 10px 20px rgba(106, 123, 145, 0.05);
        border-radius: 16px;
        padding: 8px 20px;
        box-sizing: border-box;
        .all{
          display: flex;
          align-items: center;
          h2{
            font-style: normal;
            font-weight: bold;
            font-size: 52px;
            line-height: 125.34%;
            color: #558EF7;
            margin-right: 12px;
          }
          span{
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 130.3%;
            color: #5D748A;
            opacity: 0.5;
          }
          p{
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 125.34%;
            color: #5D748A;
          }
        }

      }
    }
  }
}

.medals{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 100px;

  .medals-right{
    background: #FFFFFF;
    border-radius: 16px;
    padding: 46px 32px;
    box-sizing: border-box;

    .information{
      display: flex;
      align-items: center;
      justify-content: space-between;

      h3{
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 38px;
        color: #558EF7;
      }
    }
    .medal{
      display: flex;
      align-items: center;
      border-radius: 12px;
      padding: 12px;
      box-sizing: border-box;
      position: relative;
      margin-top: 30px;

      .img{
        position: absolute;
        top: 0;
        right: 10px;
      }

      .child{
        margin-right: 20px;
      }

      .name{
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        color: #16233C;
        margin-right: 84px;
  
        p{
          color: #467FFF;
          font-weight: 500;
        }
      }
      .star{
        margin-right: 14px;
      }
      span{
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #00B527;
      }
      .number1{
        margin-right: 28px;
      }
      .number2{
        margin-right: 100px;
      }
      .play{
        margin-right: 12px;
      }
    }
    .gold{
      background: #FFF4E9;
    }
    .silver{
      background: #F3F3F3;
    }
    .bronze{
      background: #F3F3F3;
    }
  }
}

.famous{

  .athletics{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    margin-bottom: 34px;

    h3{
      font-style: normal;
      font-weight: bold;
      font-size: 32px;
      line-height: 125.34%;
      color: #558EF7;
      text-align: center;
      margin: auto;
      right: 0;
      left: 0;
      position: absolute;
    }
  }
  .carousel-sport{
    background: #F0F3F7;
    padding: 32px 0;
    margin-bottom: 100px;
    .famous-sportsmen{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 32px;
      a{
        position: relative;
        .overly1{
          background: linear-gradient(0deg, #383C45 0%, rgba(56, 60, 69, 0) 100%);
          width: 145px;
          height: 256px;
          position: absolute;
          z-index: 1;
          border-radius: 0 16px 16px 0;
        }
        .overly2{
          background: linear-gradient(0deg, #383C45 0%, rgba(56, 60, 69, 0) 100%);
          width: 304px;
          height: 380px;
          position: absolute;
          z-index: 2;
          border-radius: 16px;
        }
        .overly5{
          background: linear-gradient(0deg, #383C45 0%, rgba(56, 60, 69, 0) 100%);
          width: 145px;
          height: 256px;
          position: absolute;
          z-index: 2;
          border-radius: 16px 0 0 16px;
        }
        .overly3{
          background: linear-gradient(0deg, #383C45 0%, rgba(56, 60, 69, 0) 100%);
          width: 416px;
          height: 504px;
          position: absolute;
          z-index: 2;
          border-radius: 16px;
        }
        img{
          position: relative;
          border-radius: 16px;
        }
        .img1{
          border-radius: 0 16px 16px 0;
        }
        .img2{
          border-radius: 16px 0 0 16px;
        }
        h4{
          position: absolute;
          font-style: normal;
          font-weight: bold;
          font-size: 14px;
          line-height: 17px;
          letter-spacing: 0.24px;
          color: #FFFFFF;
          bottom: 49px;
          z-index: 2;
        }
        .name1{
          right: 33px;
        }
        .name2{
          left: 24px;
          font-size: 18px;
          line-height: 22px;
        }
        .name3{
          left: 32px;
          bottom: 58px;
          font-size: 28px;
          line-height: 34px;
        }
        .name5{
          left: 26px;
        }
        p{
          position: absolute;
          font-style: normal;
          font-weight: 500;
          font-size: 13px;
          line-height: 16px;
          letter-spacing: 0.24px;
          color: #FFFFFF;
          opacity: 0.6;
          z-index: 2;
        }
        .text1{
          right: 16px;
          bottom: 13px;
        }
        .text2{
          left: 24px;
          bottom: 24px;
          font-size: 14px;
          line-height: 17px;
        }
        .text3{
          left: 32px;
          bottom: 32px;
          font-size: 18px;
          line-height: 22px;
        }
        .text5{
          left: 26px;
          bottom: 13px;
        }
      }
    }
    .spans{
      display: flex;
      align-items: center;
      justify-content: center;
      span{
        background: linear-gradient(166.82deg, #FEA244 -0.4%, #FD9147 61.84%);
        border-radius: 6px;
        height: 12px;
      }
      .span1{
        width: 12px;
        opacity: 0.4;
      }
      .span2{
        width: 32px;
        opacity: 0.4;
        margin: 8px;
      }
      .span3{
        width: 116px;
      }
    }
  }
  .buttons{
    padding: 65px;
    background: #5D748A;
    border-radius: 16px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url('../images/icons/Vector\ 6.svg');
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    margin-bottom: 140px;
    
    h3{
      font-style: normal;
      font-weight: bold;
      font-size: 31px;
      line-height: 162.5%;
      letter-spacing: 0.12px;
      color: #FFFFFF;
      width: 536px;
    }
  }
}

.links-button{
  .twitter{
    fill:#5D748A;
    &:hover{
      fill: #FD9147;
    }
  }
  .facebook{
    fill:#5D748A;
    &:hover{
      fill: #FD9147;
    }
  }
  .telegram{
    
    fill:#5D748A;
    &:hover{
      fill: #FD9147;
    }
  }
  .instagram{
    fill:#5D748A;
    &:hover{
      fill: #FD9147;
    }
  }
}

.footer{

  .footer-top{
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin-bottom: 22px;

    .foot-logo{
      .logotip{
        margin-bottom: 48px;
      }
      p{
        font-style: normal;
        font-weight: 500;
        font-size: 17px;
        line-height: 20px;
        color: #5D748A;
        opacity: 0.7;
        width: 303px;
      }
    }
    ul{
      list-style-type: none;
      padding-left: 0;
      margin: 0;

      li{
        a{
          font-style: normal;
          font-weight: bold;
          font-size: 17px;
          line-height: 20px;
          color: #5D748A;
          opacity: 0.7;
          margin-bottom: 8px;
          display: inline-block;
        }
        .link1{
          opacity: 1;
          margin-bottom: 20px;
        }
      }
    }
  }

  .footer-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 4px solid #7569DE;
    border-radius: 16px 16px 0px 0px;

    .text{
      width: 242px;
      font-style: normal;
      font-weight: 500;
      font-size: 17px;
      line-height: 20px;
      color: #5D748A;
      opacity: 0.7;
    }
    .development{
      background: #FFFFFF;
      box-shadow: 0px 10px 20px rgba(106, 123, 145, 0.05);
      border-radius: 16px;
      padding: 24px 32px;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      width: 360px;

      p{
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 147.5%;
        color: #5D748A;
        margin-right: 12px;
      }
    }
    .networks{
      text-align: right;
      
      h4{
        font-style: normal;
        font-weight: bold;
        font-size: 17px;
        line-height: 20px;
        text-align: right;
        color: #5D748A;
        margin-bottom: 10px;
      }
    }
  }
}


@media screen and (max-width: 1024px){
  .container-max{
    max-width: 976px;
  }

  .container-min{
    max-width: 808px;
  }

  .secondary-button{
    position: relative;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    color:#FD9147;
    padding-right: 25px;
    &::before{
      @include beforeImg(12px, 10px, 0, 0, auto, 0);
      background-image: url('../images/icons/Vector\ \(1\).svg');
    }
  }

  .links-button{
    .twitter{
      fill:#5D748A;
      &:hover{
        fill: #FD9147;
      }
    }
    .facebook{
      fill:#5D748A;
      &:hover{
        fill: #FD9147;
      }
    }
    .telegram{
      
      fill:#5D748A;
      &:hover{
        fill: #FD9147;
      }
    }
    .instagram{
      fill:#5D748A;
      &:hover{
        fill: #FD9147;
      }
    }
  }

  header{

    .header{
      ul{
        display: none;
      }

      .header-right{
        .burger-button{
          display: block;
          margin-right: 50px;
        }
      }
    }
  }

  aside{
    background-image: url('../images/Image\ \(2\).png'), url('../images/Image\ \(1\).png'), url('../images/icons/Ellipse\ 2.svg'), url('../images/Group.png'), url('../images/icons/Ellipse\ 1.svg'), url('../images/tablet-img.png'), url('../images/Vector\ 1.svg'), url('../images/Vector\ 2.svg'), url('../images/Vector\ 4.svg');
    background-size: auto, 100px 180px, 150px 248px, auto, auto, auto, 830px 610px, contain, 760px 750px;
    background-position: right 2% bottom, right top 36%, right top, bottom 6% left 20%, left bottom 10%, left top 20%, top right, top left, top right;
    padding-top: 280px;
    padding-bottom: 173px;
  
    .wrapper{
  
      .wrapper-left{
        &__title{
          font-size: 26px;
          width: 364px;
          margin-bottom: 40px;
        }
        a{
          line-height: 17px;
          margin-bottom: 205px;
        }
      }
      .sport-lugati{
        position: absolute;
        top: 15%;
        right: 4%;
        width: 500px;
        height: 495px;
      }
    }
  }

  section{
    background-position: bottom left 5%, right top 35%;
    padding-bottom: 88px;
  
    .section{
      .section-top{
        margin-bottom: 50px;
        .text{
          p{
            margin-bottom: 10px;
            width: 350px;
          }
        }
      }
      .section-center{
        .inner{
          &__text{
            width: 370px;
          }
        }
      }
  
      .video{
        margin-right: 30px;
        line-height: 15px;
        
        .overly{
          width: 222px;
          height: 200px;
        }
        .overly1{
          width: 473px;
          height: 400px;
        }
        &__img{
          width: 222px;
          height: 200px;
        }

        &__title{
          font-size: 16px;
          line-height: 16px;
        }
      }
  
      .section-bottom{
  
        .video2{

          &__img{
            width: 473px;
            height: 400px;
          }
          
          &__data{
            line-height: 25px;
          }
          &__name{
            line-height: 25px;
          }
          &__title{
            font-size: 24px;
            line-height: 24px;
          }
        }
      }
    }
  }
  
  .games{
    background-position: right 20% top 50%, left 20% top 50%, right top, left top 12%;
    background-size: auto, auto, 180px 140px, 40px 100px;
    padding-top: 60px;
  
    .wrapper{
      .inner{
        width: 221px;
        height: 145px;
        &__title{
          font-size: 24px;
          width: 60px;
          top: 45px;
          left: 30px;
        }
        &__img{
          width: 221px;
          height: 145px;
        }
      }
     
      .inner2{
        width: 306px;
        height: 192px;
        &__img{
          width: 306px;
          height: 191px;
        }
      }
    }

    .carousel{
      .maslahat{
        h4{
          line-height: 18px;
          margin-bottom: 28px;
        }
      }
    }
  }
  
  .sports{
    background-image: url('../images/Image5.png'), url('../images/icons/Group\ \(1\).svg');
    background-position: top left -8%, right -2% top 50%;
    padding-top: 102px;
    margin-bottom: 100px;
    .wrapper{
      .wrapper-left{
        &__img{
          width: 473px;
          height: 426px;
        }
      }
      .wrapper-right{
        width: 473px;
        margin-left: 30px;
        &__top{
          margin-bottom: 30px;
          h3{
            font-size: 28px;
            width: 210px;
          }
          a{
            line-height: 17px;
            &::before{
              background-size: auto;
            }
          }
        }
        &__center{
          margin-bottom: 34px;
        }
        &__bottom{
          .all{
            h2{
              font-size: 42px;
            }
          }
  
        }
      }
    }
  }
  
  .medals{
    margin-bottom: 60px;
  
    .medals-right{
      padding: 40px 30px;
  
      .information{
  
        h3{
          font-size: 24px;
          line-height: 24px;
        }
      }
      .medal{
        position: relative;
        width: 443px;
        height: 64px;
        .img{
          width: 68px;
          height: 84px;
        }
  
        .child{
          margin-right: 10px;
        }
  
        .name{
          font-size: 16px;
          line-height: 16px;
          margin-right: 20px;
    
          p{
            font-size: 14px;
            line-height: 14px;
          }
        }
        .star{
          position: absolute;
          right: 35%;
          top: 10px;
          width: 20px;
          height: 18px;
        }
        span{
          font-size: 14px;
          line-height: 14px;
          position: absolute;
        }
        .number1{
          position: absolute;
          right: 20%;
          top: 13px;
        }
        .number2{
          position: absolute;
          right: 4%;
          top: 34px;
        }
        .play{
          width: 20px;
          height: 20px;
          position: absolute;
          right: 35.3%;
          top: 34px;
        }
      }
    }
  }
  
  .famous{
  
    .carousel-sport{
    
      .famous-sportsmen{
        overflow: hidden;
        justify-content: center;
        .artur{
          margin: 0 32px;
        }
      }
    }
    .buttons{
      padding: 70px 40px 70px 80px;
      box-sizing: border-box;
      background-size: 100% 100%;
      margin-bottom: 120px;
      
      h3{
        font-size: 24px;
        width: 425px;
      }
    }
  }

  .footer{

    .footer-top{
 
  
      .foot-logo{
        .logotip{
          margin-bottom: 40px;
        }
        p{
          line-height: 20px;
        }
      }
      ul{
        list-style-type: none;
        padding-left: 0;
        margin: 0;
  
        li{
          a{
            line-height: 17p;
            margin-bottom: 10px;
        
          }
          .link1{
            margin-bottom: 23px;
          }
        }
      }
    }
  
    .footer-bottom{
      .text{
        line-height: 17px;
      }

      .networks{
        h4{
          line-height: 17px;
        }
      }
    }
  }
}

@media screen and (max-width: 375px){
  .container-max{
    max-width: 315px;
  }


  header{
  
    .header{
      ul{
        display: none;
      }
      .header-right{
        .burger-button{
          display: block;
        }
  
        .dropdown{
          display: none;
        }
        .primary-button{
          display: none;
        }
      }
    }
  }
  
  aside{
    background-image: url('../images/icons/mobil-img.svg');
    background-position: right top;
    background-size: auto;
    padding-top: 394px;
    padding-bottom: 30px;
  
    .wrapper{
      width: 315px;
  
      .wrapper-left{
        &__title{
          font-size: 26px;
          width: 315px;
          margin-bottom: 40px;
        }
        a{
          text-align: center;
          line-height: 17px;
          margin-bottom: 20px;
          display: block;
          width: 315px;

        }
        &__link1{
          margin-right: 0;
          box-sizing: border-box;
        }
      }
      .sport-lugati{
        position: absolute;
        top: 10%;
        right: 0;
        left: 0;
        margin: auto;
        width: 317px;
        height: 314px;
      }
    }
  
    .spans{
  
      .span3{
        width: 42px;
      }
    }
  }
  
  section{
    background-image: none;
    padding-bottom: 30px;
  
    .section{
      .section-top{
        height: 210px;
        margin-bottom: 30px;
  
        .text{
          padding: 17px 20px 27px 20px;
          h3{
            margin-bottom: 0;
          }
          p{
            margin-bottom: 13px;
            width: 275px;
          }
          a{
            line-height: 17px;
            display: block;
            box-sizing: border-box;
            width: 275px;
            text-align: center;
          }
        }
        img{
          display: none;
        }
      }
  
      .video{
        margin-right: 0;
        line-height: 15px;
        margin-top: 30px;
        
        .overly{
          width: 315px;
          height: 284px;
        }
        .overly1{
          width: 315px;
          height: 284px;
        }
        &__img{
          width: 315px;
          height: 284px;
        }
        &__data{
          top: 28px;
          left: 28px;
        }
        &__name{
          top: 28px;
          right: 28px;
        }
        &__title{
          width: 250px;
          font-size: 16px;
          line-height: 16px;
          left: 28px;
          bottom: 28px;
        }
      }
  
      .section-center{
        flex-direction: column-reverse;
        margin-bottom: 0;
        .inner{
          &__text{
            width: 316px;
          }
        }
      }
  
      .section-bottom{
        flex-direction: column;
        align-items: center;
  
        .video2{
          &__data{
            font-size: 15px;
            line-height: 15px;
          }
          &__name{
            font-size: 15px;
            line-height: 15px;
          }
          &__title{
            font-size: 16px;
            line-height: 16px;
          }
          &__img{
            width: 315px;
            height: 284px;
          }
        }
      }
    }
  }
  
  .games{
    align-items: center;
    text-align: center;
    background-image: none;
    padding-top: 0;
  
    .title{
      margin-bottom: 15px;
    }
    .text{
      width: 315px;
      margin-bottom: 45px;
    }
  
    .wrapper{
      align-items: center;
      margin-bottom: 30px; 
      margin-top: 30px;
      width: 315px;
  
      .inner{
        display: none;
      }
      .inner2{
        width: 315px;
        height: 192px;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
    }
  
    .spans{
      margin-bottom: 30px;
    }
    .carousel{
      margin-bottom: 67px;
      align-items: center;
      .maslahat{
        display: none;
      }
  
      .maslahat1{
        display: block;
        min-width: 323px;
        width: 323px;
        height: 188px;
        padding: 18px;
        margin-right: 0;
        margin-left: auto;
        margin-right: auto;
  
        h4{
          margin-bottom: 10px;
        }
        p{
          width: 285px;
        }
      }
    }
  
    .button{
      display: flex;
      align-items: center;
      justify-content: center;
      .spans{
        display: none;
      }
      .links{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 200px;
        a{
          background-color: #fff;
          display: inline-block;
          display: flex;
          align-items: center;
          justify-content: center;
          box-shadow: 0px 10px 20px rgba(106, 123, 145, 0.05);
          border-radius: 41px;
          padding: 12px 16px;
          box-sizing: border-box;
          width: 40px;
          transition: all ease 0.5s;
          &:hover{
            width: 80px;
          }
        }
        img{
          width: 8px;
          height: 16px;
        }
        span{
          width: 0;
          height: 2.5px;
          transition: all ease 0.5s;
        }
        .link1{
          margin-right: 12px;
          
          &:hover span{
            width: 43px;
            background: linear-gradient(166.82deg, #FEA244 -0.4%, #FD9147 61.84%);
          }
        }
        .link2{
          
          &:hover span{
            width: 43px;
            background: linear-gradient(166.82deg, #FEA244 -0.4%, #FD9147 61.84%);
          }
        }
      }
    }
  }
  
  .sports{
    background-image: none;
    padding-top: 50px;
    margin-bottom: 30px;
    .wrapper{
      flex-direction: column;
      .wrapper-left{
        margin-bottom: 30px;
        &__img{
          width: 309px;
          height: 278px;
        }
      }
    
      .wrapper-right{
        width: 315px;
        margin-left: 0;
        &__top{
          flex-direction: column;
          margin-bottom: 30px;
          h3{
            width: 209px;
            margin: 30px;
          }
        }
        &__center{
          flex-direction: column;
  
          .inner{
            width: 315px;
            margin-bottom: 10px;
            margin-right: 0;
          }
        }

        &__bottom{
          flex-direction: column;
          align-items: start;
          .all{
            display: flex;
            align-items: center;
            margin-bottom: 8px;
            h2{
              font-size: 42px;
            }
          }
        }
      }
    }
  }
  
  .medals{
    flex-direction: column;
    margin-bottom: 30px;
  
    .medals-right{
      width: 329px;
      padding: 16px;
  
      .information{
        flex-direction: column;
        align-items: start;
  
        h3{
          font-size: 24px;
          line-height: 24px;
          margin-bottom: 5px;
        }
      }
      .medal{
        height: 110px;
        margin-top: 20px;
        width: 100%;
        padding-bottom: 57px;
        .img{
          width: 68px;
          height: 84px;
          right: 0;
        }
  
        .child{
          margin-right: 10px;
          width: 44px;
          height: 42px;
        }
  
        .name{
          font-size: 16px;
          line-height: 16px;
          margin-right: 0;
    
          p{
            font-size: 14px;
            line-height: 14px;
          }
        }
        .star{
          position: absolute;
          right: 61%;
          top: 64px;
          width: 20px;
          height: 18px;
        }
        span{
          font-size: 14px;
          line-height: 14px;
        }
        .number1{
          position: absolute;
          right: 38%;
          top: 65px;
        }
        .number2{
          position: absolute;
          right: 14%;
          top: 85px;
        }
        .play{
          width: 20px;
          height: 20px;
          position: absolute;
          right: 61%;
          top: 84px;
        }
      }
      .gold{
        background: #FFF4E9;
      }
      .silver{
        background: #F3F3F3;
      }
      .bronze{
        background: #F3F3F3;
      }
    }
  }
  
  .famous{
  
    .carousel-sport{
    
      .famous-sportsmen{
        overflow: hidden;
        justify-content: center;
        align-items: center;
        a{
          display: none;
        }

        .artur{
          display: block;
          margin: 0 32px;
          width: 320px;
          height: 387px;
        }
      }
    }
    .buttons{
      padding: 70px 40px 70px 80px;
      box-sizing: border-box;
      background-size: 100% 100%;
      margin-bottom: 120px;
      
      h3{
        font-size: 24px;
        width: 425px;
      }
    }
  }

  .footer{

    .footer-top{
 
  
      .foot-logo{
        .logotip{
          margin-bottom: 40px;
        }
        p{
          line-height: 20px;
        }
      }
      ul{
        list-style-type: none;
        padding-left: 0;
        margin: 0;
  
        li{
          a{
            line-height: 17p;
            margin-bottom: 10px;
        
          }
          .link1{
            margin-bottom: 23px;
          }
        }
      }
    }
  
    .footer-bottom{
      .text{
        line-height: 17px;
      }

      .networks{
        h4{
          line-height: 17px;
        }
      }
    }
  }
}

